<div class="footer-content">
    <div class="footer-content-entrance">
        <a class="footer-content-link" href="../../about.html-p=guanyuwomen.htm">关于我们</a>
        <span class="footer-content-separator">|</span>
        <a class="footer-content-link footer-content-weixing">关注微信
            <img class="weixin-pic" src="/static/front/image/qr_code.jpg">
        </a>
        <span class="footer-content-separator">|</span>
        <a class="footer-content-link" href="../../about.html-p=tousujianyi.htm">投诉建议</a>
        <span class="footer-content-separator">|</span>
        <a class="footer-content-link kaidian_address" href="../../about.html-p=shangjiaruzhu.htm">商家入驻</a>
    </div>
    <div class="footer-content-copyright">©2016 dingfanzu.com
        <a target="_blank">京ICP证020666号</a>
    </div>
</div>