<div class="shop-cart shadow n">
    <div class="shop-head">
        购物车<a class="shop-clear">[清空]</a>
    </div>
    <div class="shop-body">
        <div class="isnull">
            <span></span>
            <b>购物车空空如也</b>
        </div>
    </div>
    <div class="shop-bottom">
        <div class="bottom-price fl">总计：￥
            <label class="price">32</label>
        </div>
        <div class="bottom-icon"></div>
        <div class="bottom-pay fr">
            <a id="cart-pay">结算</a>
        </div>
    </div>
</div>
<script>
    $('#cart-pay').click(function () {
        $('.shop-item').each(function(){

        });
    });
</script>


<!--
<div class="shop-item-wrap">
    <div class="shop-item" item-id="5">
        <div class="item-name fl" style="width: 135px;">红烧小强</div>
        <div class="item-count fl">
            <button class="minus">-</button>
            <input type="text" value="3" readonly="readonly" maxlength="3">
            <button class="plus">+</button>
        </div>
        <div class="item-price fl" per-price="32.00">￥<label>96</label></div>
    </div>
</div>
<div class="shop-item-wrap">
    <div class="shop-item" item-id="6">
        <div class="item-name fl" style="width: 135px;">蝴蝶烧饼</div>
        <div class="item-count fl">
            <button class="minus">-</button>
            <input type="text" value="2" readonly="readonly" maxlength="3">
            <button class="plus">+</button>
        </div>
        <div class="item-price fl" per-price="1.00">￥<label>2</label></div>
    </div>
</div>
<div class="shop-item-wrap">
    <div class="shop-item" item-id="7">
        <div class="item-name fl" style="width: 135px;">清蒸平头哥</div>
        <div class="item-count fl">
            <button class="minus">-</button>
            <input type="text" value="1" readonly="readonly" maxlength="3">
            <button class="plus">+</button>
        </div>
        <div class="item-price fl" per-price="12.00">￥<label>12</label></div>
    </div>
</div></div>-->
