<!doctype html>
<html>
<head>
	<meta charset = "utf-8">
	<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
	<meta name = "keywords" content = "PHP,内容,管理">
	<meta name = "description" content = "欢迎使用 PHP内容管理系统。">
	<title>这是第一篇文章 - 内容管理系统</title>
	<link rel = "stylesheet" href = "/static/front/css/style.css">
	<script src = "/static/front/js/jquery.min.js"></script>
	<script src = "/static/front/js/common.js"></script>
</head>
<body>
	<!--页面顶部-->
	<div class = "top">
		<div class = "top-container">
			<div class = "top-logo">
				<a href = "{:url('home/index')}"><img src = "/static/front/image/logo.png" alt = "内容管理系统"></a>
			</div>
			{:widget('front/category/p_category')}
			<div class = "top-toggle jq-toggle-btn"><i></i><i></i><i></i></div>
		</div>
	</div>
	{__CONTENT__}
	<!--页面尾部-->
	<div class = "footer">PHP内容管理系统　本系统仅供参考和学习</div>
</body>
<script>
	    // $('body').on('click','.top-col',function () {
         //     alert(1);
         //     $(this).addClass( 'curr').siblings().removeClass('curr');
         // });
</script>
</html>
