<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>-.-</title>
    <link rel="stylesheet" href="/static/admin/css/reset.css">
    <link rel="stylesheet" href="/static/admin/css/bootstrap-admin.css">
    <link rel="stylesheet" href="/static/admin/css/backstage.css">
    <link rel=stylesheet   href="/static/admin/css/order.css">
</head>
<body>
<?php ?>
{volist name="data" id="orderInfo" key="k"}
<div class="details">
    <div class="details_operation clearfix">
        <div class="fl">  </div>
        <div class="fr"><span id="tip"></span></div>
    </div>
    <div class="order-content-wrap">
        <div class="order-content">
            <div class="order-meal">
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">
                                <a href="#" class="shop-name">{$orderInfo.address_name}</a>
                                <p class="shop-info">
                                    <span class="phone-icon"></span>
                                    商家电话：{$orderInfo.shop_phone}
                                </p>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {volist name="$orderInfo.goodsArr" id="goodsInfo"}
                    <tr>
                        <td>{$goodsInfo.goods_name}</td>
                        <td>{$goodsInfo.goods_num}</td>
                        <td class="text-right">￥{$goodsInfo.goods_price}</td>
                    </tr>
                    {/volist}
                    </tbody>

                </table>
                <div class="order-price">
                    总价：<span class="ft-red">￥{$orderInfo.total_price}</span>
                </div>
                <div class="order-delivery">
                    <div class="receive-info">
                        订单编号：{$orderInfo.order_id}<br>
                        送餐地址：{$orderInfo.address_name}<br>
                        联系人：{$orderInfo.user_name}<br>
                        电话：{$orderInfo.user_phone}<br>
                        送达时间：{$orderInfo.create_time}  <br>
                        备注信息：{$orderInfo.user_note}
                    </div>
                </div>
            </div>
            <div class="order-info">
                <div class="delivery-info">
                    <div class="delivery-card ">
                        <div class="card-header nick-selected">
                            <div class="round">
                            </div>
                            <div class="line-through ">
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="status-msg">订单提交成功 </div>
                            <div class="prompt">订单号：{$orderInfo.order_id}</div>
                            <div class="time">{$orderInfo.create_time} </div>
                        </div>
                    </div>
                    <div class="delivery-card ">
                        <div class="card-header nick-selected">
                            <div class="round"></div>
                        </div>
                        <div class="card-body ">
                            <div class="status-msg"> 已提交订单</div>
                            <div class="prompt">等待商家接单(餐到付款)</div>
                            <div class="time"></div>
                        </div>
                    </div>
                    <div class='delivery-card n'>
                        <div class="card-header nick-selected">
                            <div class="round "></div>
                        </div>
                        <div class="card-body ">
                            <div class="status-msg"></div>
                            <div class="prompt"> </div>
                            <div class="time"></div>
                        </div>
                    </div>
                    <div class="order-operator " >
                        <div class="operator-btns">
                            <a class=pay-btn onclick=takeOrder({$orderInfo.order_id})>接单</a>
                            <a class=pay-btn onclick=cancelOrder({$orderInfo.order_id})>拒绝</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{/volist}
<!--提示框-->
<div class="modal fade" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="btn-close" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 id="alert-title" class="modal-title">标题</h4>
            </div>
            <div class="modal-body">
                <p id="alert-body">内容</p>
            </div>
            <div class="modal-footer">
                <button id="btn-ok" type="button" class="btn btn-default" data-dismiss="modal">知道了</button>
            </div>
        </div>
    </div>
</div>
<script src='http://cdn.bootcss.com/socket.io/1.3.7/socket.io.js'></script>
<script>
    // 连接服务端，workerman.net:2120换成实际部署web-msg-sender服务的域名或者ip
    var socket = io('http://workerman.net:2120');
    // uid可以是自己网站的用户id，以便针对uid推送以及统计在线人数
    uid = 123;
    // socket连接后以uid登录
    socket.on('connect', function(){
        socket.emit('login', uid);
    });
    // 后端推送来消息时
    socket.on('new_msg', function(msg){
        alert("你有新的订单，请尽快处理");
    });
    // 后端推送来在线数据时
    socket.on('update_online_count', function(online_stat){
        console.log(online_stat);
    });
</script>
<script src="/static/admin/js/jquery-1.8.3.js"></script>
<script src="/static/admin/js/bootstrap.min.js"></script>
<script src="/static/admin/js/common.js"></script>
<script src="/static/admin/js/jquery.jqprint-0.3.js"></script>
<script>
    $(document).ready(function () {
        var hasNewOrder="1";
        if(hasNewOrder!=1){
            startRequest();
        }
        //轮询器
        setInterval("startRequest()",2000);
    });
    function startRequest(){
        $.ajax({
            url:'{:url(\'admin/order/orderHandleList\')}',
            async:true,
            timeout:3000,
            success:function(){
                window.location.reload()  //刷新页面
            },
            error:function(){
                startRequest();
            }
     });

    }
    //接单
    function takeOrder(orderId){
        $.ajax({
            url:'{:url(\'admin/order/takeOrder\')}',
            type:'post',
            data:{order_id:orderId},
            success:function (res) {
                alert(res.msg);
            }

        })
    }
    // /拒单
    function cancelOrder(orderId){
        $.ajax({
            url:'{:url(\'admin/order/cancelOrder\')}',
            type:'post',
            data:{order_id:orderId},
            success:function (res) {
                alert(res.msg);
            }

        })
    }






    /*接单
      $(".order-delivery").jqprint();
        alert("接单"+"\n"+orderId);
        var postUrl="/admin/ajax/operateOrder.php";
        $.post(postUrl, {
            type:"take",
                id:id
            },
            function(data,status,xhr) {
                if(status=="success"){
                    $res= $.parseJSON(data);
                    if($res.code=="0"){
                        //  showAlert("提示","接单成功","/admin/moniterOrder.php");
                    } else{
                        showAlert("提示",$res.msg,"/admin/moniterOrder.php");
                    }
                }else{
                    showAlert("提示","服务器异常");
                }
            });
    */

    /* 拒单
    alert("拒单");
        var postUrl="/admin/ajax/operateOrder.php";
        $.post(postUrl,
            {type:"cancel",
                id:id},
            function(data,status,xhr) {
                if(status=="success"){
                    $res= $.parseJSON(data);
                    if($res.code=="0"){
                        showAlert("提示","已拒绝","/admin/moniterOrder.php");
                    } else{
                        showAlert("提示",$res.msg,"/admin/moniterOrder.php");
                    }
                }else{
                    showAlert("提示","服务器异常");
                }
            });
    */
</script>
</body>
</html>